{{!-- {{#each this}} --}}
<li class='country-list__item'>
  <img
    class='flag'
    src='{{flags.svg}}'
    alt='{{name.official}}'
    width='60'
    height='40'
  />
  <p>{{name.official}}</p>
</li>
{{!-- {{/each}} --}}